.list-todo-container{
    .add-todo{

    }
    .list-todo-content{
        width: 400px;
        margin: 0 auto;
        .todo-child{
            &:first-child{
                border-top: 1px solid;
            }
            height: 40px;
            border-bottom: 1px solid;
            margin-top: 10px;
        }
    }
    
}