.list-user-container {
    .list-user-content {
        .child {
            border: 1px solid;
            width: 400px;
            margin: 0 auto;
        }
    }

    .pagination {
        display: flex;
        width: 100px;
        margin: auto;
        font-size: 18px;
        width: 9%;
        padding: 10px;

        .previous.disabled {
            display: contents;
        }

        .active {
            display: contents;
        }

        li {
            display: contents;
        }
    }
}